html {
    font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
    float: right;
}
.body{
    color: #002f6b;
}
.scrollsyn {
    overflow: auto;
}
.chatPatient{
    max-height: 200px;
}
.chatDoctor{
    max-height: 400px;
}
.videoContainer video {
    position: absolute;
    width: 100%;
    height: 100%;
}
.volume {
    position: absolute;
    left: 15%;
    width: 70%;
    bottom: 2px;
    height: 10px;
}

.connectionstate {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    color: #fff
}
#message{
    z-index: 0;
}