<template name="layout">
    <body>
    {{#if currentUser}}
        <div id="navDiv">
            {{> leftNav}}
        </div>
    {{/if}}
    <div id="wrapper" >
        <div id="headerMain">
            {{> header}}
        </div>
        <div id="contentMain">
            <div class="container">
                <div id="main" class="row-fluid">
                    {{> yield}}
                </div>
            </div>
        </div>
        <div id="footerMain">
            <div class="panel-footer">
                <div id="footerContainer">
                    <p><span class="fa fa-copyright"></span> created by OneBI 2015</p>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>
