<template name="registerVisit">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="container row">
                    <div class="input-group col-xs-12">
                        <select class="selectpicker" name="przychodnie" id="przychodnie" data-live-search="true">
                            <option value="0" disabled="disabled">wybierz przychodnię</option>
                        </select>
                    </div>
                    <div class="input-group col-xs-12">
                        <select class="selectpicker" disabled="disabled" name="specjalnosci" id="specjalnosci" data-live-search="true">
                            <option value="0" disabled="disabled">wybierz specjalność</option>
                        </select>
                    </div>
                    <div class="input-group col-xs-12">
                        <select class="selectpicker" disabled="disabled" name="lekarze" id="lekarze" data-live-search="true">
                            <option value="0" disabled="disabled">wybierz lekarza</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="id_user" value="{{user_id}}">
            </form>
            <br />
            <div id="chat" class="hidden">
                {{>client}}
            </div>
        </div>
        <div class="col-md-8">
            <div id="doctorCalendarInfo" class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Proszę wybrać lekarza...</strong>
            </div>
            <div id="doctorCalendar">

            </div>

        </div>
    </div>
    {{> addEventTemplate}}
</template>
