<template name="registerVisit">
    <div class="row">
        <div class="col-md-4">
                <div class="container row">
                    <div class="input-group col-xs-12">
                        <label for="przychodnie">Przychodnia</label><br />
                        <select class="form-control input-sm" name="przychodnie" id="przychodnie">
                            <option value="0">--Wybierz przychodnię--</option>
                        </select>
                    </div>
                    <div class="input-group col-xs-12">
                        <label for="specjalnosci">Specjalność</label><br />
                        <select class="form-control input-sm" disabled="disabled" name="specjalnosci" id="specjalnosci">
                            <option value="0">--Wybierz specjalność--</option>
                        </select>
                    </div>
                    <div class="input-group col-xs-12">
                        <label for="lekarze">Lekarz</label><br />
                        <select class="form-control input-sm" disabled="disabled" name="lekarze" id="lekarze">
                            <option value="0">--Wybierz lekarza--</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="id_user" value="{{user_id}}">
            <br>
            <h4>Umawianie wizyty</h4>
            <div class="btn-group" role="group" aria-label="addVisitLabel">
                <button id="konsultacja" class="button btn btn-primary">Konsultacja</button>
                <a href="#" id="wizytaButton" class="btn btn-primary" data-toggle="modal" >Dodaj wizytę</a>
            </div>

        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Terminarz lekarza
                </div>
                <div class="panel-body">
                  <div id="calendar">
                    {{> terminarz}}
                  </div>
                </div>
            </div>
        </div>
    </div>
    {{> addWizytaModal}}
</template>
