<template name="registerVisit">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <select class="selectpicker" name="przychodnie" id="przychodnie" data-live-search="true">
                        <option value="0" disabled="disabled">wybierz przychodnię</option>
                    </select>
                </div>
                <div class="input-group">
                    <select class="selectpicker" disabled="disabled" name="specjalnosci" id="specjalnosci" data-live-search="true">
                        <option value="0" disabled="disabled">wybierz specjalność</option>
                    </select>
                </div>
                <div class="input-group">
                    <select class="selectpicker" disabled="disabled" name="lekarze" id="lekarze" data-live-search="true">
                        <option value="0" disabled="disabled">wybierz lekarza</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="video" class="hidden">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button id="start" class="btn btn-default btn-sm">Rozmowa wideo</button>
                        <button id="close" class="btn btn-default btn-sm">Zakończ</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" id="localVideo"></video>
                </div>
                <div class="col-md-6 col-sm-6 embed-responsive embed-responsive-16by9" id="remotes"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="chat" class="hidden">
            {{>client}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="doctorCalendarInfo" class="text-center">
                <strong>Proszę wybrać lekarza...</strong>
            </div>
            <div id="doctorCalendar">

            </div>
        </div>
    </div>
    {{> addEventTemplate}}
</template>
