<template name="header">
    <header class="navbar">
        <nav class="navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {{#with settings}}
                        <a class="navbar-brand" href="{{pathFor 'home'}}" style="color:{{systemnamecolor}}">{{systemname}}</a>
                    {{/with}}
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{#if currentUser}}
                        <ul class="nav navbar-nav navbar-right">
                            {{> loginButtons }}
                        </ul>
                        <div id="divNotifications" class="nav navbar-nav navbar-right">
                            <span class="fa fa-inbox dropdown-toggle pointer" data-toggle="dropdown" aria-expanded="false"></span>
                            {{#if isNotification}}
                                <span class="badge">{{notifications.count}}</span>
                                <ul class="dropdown-menu" role="menu">
                                    {{#each notifications}}
                                        <li role="presentation">
                                            <a href="#" class="notificationItem" id="{{_id}}" role="menuitem" tabindex="-1">
                                                <span class="{{icon}}" style="color:{{notificationcolor}};"></span> {{description}} ({{getUserName creator}})
                                            </a>
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>
</template>