<template name="leftNav">
    <div id="nav">
        <ul>
            <a href="{{pathFor 'home' }}">
                <li class="navLi home">
                    <span>Strona główna</span>
                    <span class="pull-right fa fa-home"></span>
                </li>
            </a>
            {{#if isDoctorUser}}
                <div class="navLiDoctor">
                    <span>LEKARZ</span>
                    <span class="pull-right fa fa-stethoscope"></span>
                </div>
                <a href="{{pathFor 'doctorCalendarTemplate' }}">
                    <li class="navLi doctor_calendar">
                        <span>Terminarz</span>
                        <span class="pull-right fa fa-calendar"></span>
                    </li>
                </a>
                <a href="{{pathFor 'consultationTemplate' }}">
                    <li class="navLi doctor_consultation">
                        <span>Konsultacje</span>
                        <span class="pull-right fa fa-wechat "></span>
                    </li>
                </a>
                <!--<a href="{{pathFor 'videoTemplate' }}">-->
                <!--<li class="navLi video">-->
                <!--<span>Video</span>-->
                <!--<span class="pull-right fa fa-video-camera"></span>-->
                <!--</li>-->
                <!--</a>-->

            {{/if}}
            {{#if isPatientUser}}
                <div class="navLiDoctor">
                    <span>PACJENT</span>
                    <span class="pull-right fa fa-male"></span>
                </div>
                <a href="{{pathFor 'patientCalendarTemplate' }}">
                    <li class="navLi patient_calendar">
                        <span>Terminarz</span>
                        <span class="pull-right fa fa-calendar"></span>
                    </li>
                </a>
                <a href="{{pathFor 'registerVisit' }}">
                    <li class="navLi register_visit">
                        <span>Zarejestruj wizytę</span>
                        <span class="pull-right fa fa-heart"></span>
                    </li>
                </a>
                <a href="{{pathFor 'menuKonsultacja' }}">
                    <li class="navLi menu_konsultacja">
                        <span>Konsultacja</span>
                        <span class="pull-right fa fa-comment"></span>
                    </li>
                </a>
            {{/if}}
            {{#if isAdminUser}}
                <div class="navLiDoctor">
                    <span>ADMINISTRATOR</span>
                    <span class="pull-right fa fa-star"></span>
                </div>
                <a href="{{pathFor 'adminTemplate' }}">
                    <li class="navLi roles_manage">
                        <span>Zarządzanie rolami</span>
                        <span class="pull-right fa fa-magic"></span>
                    </li>
                </a>
                <a href="{{pathFor 'statsTemplate' }}">
                    <li class="navLi admin_stats">
                        <span>Statystyki </span>
                        <span class="pull-right fa fa-line-chart"></span>
                    </li>
                </a>
                <a href="{{pathFor 'addUserTemplate'}}">
                    <li class="navLi add_user">
                        <span>Dodaj użytkownika</span>
                        <span class="pull-right fa fa-user"></span>
                    </li>
                </a>
                <a href="#">
                    <li class="navLi ">
                        <span>Ustawienia systemu</span>
                        <span class="pull-right fa fa-cogs"></span>
                    </li>
                </a>
            {{/if}}
        </ul>
    </div>
</template>