<template name="leftNav">
    <div id="nav">
        <ul>
            {{#if isPatientUser}}
                <a href="{{pathFor 'home' }}">
                    <li>
                        <span>Strona główna</span>
                        <span class="pull-right fa fa-home fa-inverse"></span>
                    </li>
                </a>
                <a href="{{pathFor 'patientCalendarTemplate' }}">
                    <li>
                        <span>Terminarz</span>
                        <span class="pull-right fa fa-calendar fa-inverse"></span>
                    </li>
                </a>
                <a href="{{pathFor 'registerVisit' }}">
                    <li>
                        <span>Zarejestruj wizytę</span>
                        <span class="pull-right fa fa-heart fa-inverse"></span>
                    </li>
                </a>
            {{/if}}
            {{#if isDoctorUser}}
                <a href="{{pathFor 'home' }}">
                    <li>
                        <span>Strona główna</span>
                        <span class="pull-right fa fa-home fa-inverse"></span>
                    </li>
                </a>
                <a href="{{pathFor 'doctorCalendarTemplate' }}">
                    <li>
                        <span>Terminarz</span>
                        <span class="pull-right fa fa-calendar fa-inverse"></span>
                    </li>
                </a>
                <a href="{{pathFor 'consultationTemplate' }}">
                    <li>
                        <span>Konsultacje</span>
                        <span class="pull-right fa fa-wechat fa-inverse"></span>
                    </li>
                </a>
                <!--<a href="{{pathFor 'videoTemplate' }}">-->
                    <!--<li>-->
                        <!--<span>Video</span>-->
                        <!--<span class="pull-right fa fa-video-camera fa-inverse"></span>-->
                    <!--</li>-->
                <!--</a>-->
            {{/if}}
            {{#if isAdminUser}}
                <a href="{{pathFor 'home' }}">
                    <li>
                        <span>Strona główna</span>
                        <span class="pull-right fa fa-home fa-inverse"></span>
                    </li>
                </a>
                <a href="{{pathFor 'adminTemplate' }}">
                    <li>
                        <span>Zarządzanie rolami</span>
                        <span class="pull-right fa fa-magic fa-inverse"></span>
                    </li>
                </a>
                <a href="{{pathFor 'statsTemplate' }}">
                    <li>
                        <span>Statystyki </span>
                        <span class="pull-right fa fa-line-chart fa-inverse"></span>
                    </li>
                </a>
                <a href="#">
                    <li>
                        <span>Ustawienia systemu</span>
                        <span class="pull-right fa fa-cogs fa-inverse"></span>
                    </li>
                </a>
            {{/if}}
        </ul>
    </div>
</template>