.bg-one{
    background-color: white;
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
  }
.bg-two{
    background-color: white;
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
}
.bg-three{
    background-color: white;
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
}
.bg-four{
    background-color: white;
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
}