.container{
    width: auto;
}
.padding-5 {
    padding: 5px;
}
.grid-block, .main, .post, .comments li, .comment-form {
    background: #0079c1;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 121, 193, 0.15);
}
body {
    background: #ffffff;
    color: #666666;
}
.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
    background: #0079c1;
    color: #002f6b;
}
.navbar-inverse .navbar-brand{
    color: #d7e6f2;
}
.navbar-inverse .navbar-nav > li > a{
    color: #d7e6f2;
}
.btn-primary{
    color: #fff;
    background-color: #002f6b;
    border-color: #2e6da4;
}

.container-fluid{
    background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(35,109,181,0.8) 7%, rgba(39,128,204,1) 13%, rgba(41,137,216,1) 16%, rgba(41,137,216,1) 20%, rgba(41,137,216,1) 34%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(7%,rgba(35,109,181,0.8)), color-stop(13%,rgba(39,128,204,1)), color-stop(16%,rgba(41,137,216,1)), color-stop(20%,rgba(41,137,216,1)), color-stop(34%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(35,109,181,0.8) 7%,rgba(39,128,204,1) 13%,rgba(41,137,216,1) 16%,rgba(41,137,216,1) 20%,rgba(41,137,216,1) 34%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(35,109,181,0.8) 7%,rgba(39,128,204,1) 13%,rgba(41,137,216,1) 16%,rgba(41,137,216,1) 20%,rgba(41,137,216,1) 34%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(35,109,181,0.8) 7%,rgba(39,128,204,1) 13%,rgba(41,137,216,1) 16%,rgba(41,137,216,1) 20%,rgba(41,137,216,1) 34%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(35,109,181,0.8) 7%,rgba(39,128,204,1) 13%,rgba(41,137,216,1) 16%,rgba(41,137,216,1) 20%,rgba(41,137,216,1) 34%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 */

}
.panel-default > .panel-heading{
    color: #002f6b;
    background-color: #f5f5f5;
    border-color: #ddd;
}