
<template name="client">
    <div class="row">
        <div class="col-md-12">
            Konsultacja
            <div class="pull-right">
                <div class="dropdown">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Ankiety <span class="badge">{{wszystkie.count}}</span>
                </button>
                {{#if isPoll wszystkie.count}}
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        {{#each wszystkie}}
                            <li role="presentation">
                                <a href="#" class="pollItem" id="{{_id}}" role="menuitem" tabindex="-1">
                                    {{#each getPollName id_ankieta}}
                                        {{nazwa}}
                                    {{/each}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="scrollmatka" data-spy="scroll" id="scroll" data-target="#scroll2">
                <div class="scrollsyn chatPatient" id="scroll2">
                    {{> messages }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{>input}}
        </div>
    </div>
    {{> pollModalTemplate}}
</template>

<template name="messages">
    {{#each messages}}
        {{#if czyAutor _id}}
            <div id="autor">
                <p class="arrow_box_left" title="{{time}}">{{message}}</p>
            </div>
        {{else}}
            <div id="rozmowca">
                <p class="arrow_box_right" title="{{time}}">{{message}}</p>
            </div>
        {{/if}}
    {{/each}}
</template>

<template name="input">
    <div class="input-group col-xs-12">
        <input type="text" id="message" class="form-control" placeholder="Wiadomość">
    </div>
</template>
