
<template name="client">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Konsultacja
                        </div>
                            <div class="panel-body">
                                        {{> welcome }}
                                <div class="scrollmatka" data-spy="scroll" id="scroll" data-target="#scroll2">
                                    <div class="scrollsyn" id="scroll2">
                                        {{> messages }}
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{> input }}
                        </div>
                    </div>
                </div>
            </div>
</template>

<template name="welcome">
    <p>

    </p>
</template>

<template name="messages">
    {{#each messages}}
        <strong>{{username}} {{time}}:</strong> {{message}}<br>
    {{/each}}
</template>

<template name="input">
    <p>Message: <input type="text" id="message"></p>
</template>
