html {
    padding: 5px;
    font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
    float: right;
}
.body{
    color: #002f6b;
}
.scrollsyn{
    width: auto;
    /*height: 200px;*/
    overflow: auto;
}