<template name="patientDashboard">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Umówione wizyty
                            <div class="pull-right">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                        Opcje
                                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation"><a href="{{pathFor 'registerVisit' }}" role="menuitem" tabindex="-1">Zarejestruj wizytę</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            jeden<br />
                            dwa<br />
                        </div>
                    </div></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Ostatnie wizyty</div>
                        <div class="panel-body">
                            ss
                        </div>
                    </div></div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Wyniki badań</div>
                        <div class="panel-body">
                            ss
                        </div>
                    </div></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Terminarz pacjenta</div>
                    <div class="panel-body">
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>