<template name="adminDashboard">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Umówione wizyty
                        </div>
                        <div class="panel-body">
                            <div class="pull-right btn-group" role="group" aria-label="...">
                                <a href="{{pathFor 'registerVisit' }}" class="button btn btn-primary">Zarejestruj wizytę</a>
                            </div>
                            jeden<br />
                            dwa<br />
                        </div>
                    </div></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Ostatnie wizyty</div>
                        <div class="panel-body">

                        </div>
                    </div></div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Wyniki badań</div>
                        <div class="panel-body">
                            ss
                        </div>
                    </div></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Terminarz admina</div>
                    <div class="panel-body">
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                        list<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>